<div class="cr-dialog-container">
  <div class="cr-dialog-header">
    <h2>Consultas</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="cr-consult-grid">
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-green-600">request_quote</mat-icon
        ><span>Inf. Comisiones</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-gray-600">receipt_long</mat-icon
        ><span>Copia Recibo</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-blue-600">point_of_sale</mat-icon
        ><span>Ventas Contado</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-orange-600">format_list_numbered</mat-icon
        ><span>Consecutivo</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-indigo-600">list_alt</mat-icon
        ><span>Detalle General</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-purple-600">business</mat-icon
        ><span>Resumen Emp.</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-teal-600">person</mat-icon
        ><span>Resumen Cajero</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-blue-500">group</mat-icon
        ><span>Cajero/Empresa</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-blue-400">sync_alt</mat-icon
        ><span>Transferencias</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-gray-700">calendar_today</mat-icon
        ><span>Resumen Diario</span>
      </button>
      <button class="cr-consult-btn" matRipple>
        <mat-icon class="cr-text-red-500">lock_clock</mat-icon
        ><span>Resumen Cierre</span>
      </button>
    </div>
  </mat-dialog-content>
</div>
